[submodule "examples/nucleo-f429zi/Lib/Stm32ThreadX"]
	path = examples/nucleo-f429zi/Lib/Stm32ThreadX
	url = https://github.com/libsmart/Stm32ThreadX.git
[submodule "examples/nucleo-f429zi/Lib/Stm32Common"]
	path = examples/nucleo-f429zi/Lib/Stm32Common
	url = https://github.com/libsmart/Stm32Common.git
[submodule "examples/nucleo-f429zi/Lib/Stm32ItmLogger"]
	path = examples/nucleo-f429zi/Lib/Stm32ItmLogger
	url = https://github.com/libsmart/Stm32ItmLogger.git
[submodule "examples/nucleo-f429zi/Lib/Stm32NetX"]
	path = examples/nucleo-f429zi/Lib/Stm32NetX
	url = https://github.com/libsmart/Stm32NetX.git
